# Base URL of the Drupal site this front end consumes.
# In development with next-canvas-dev:    https://next-canvas-dev.ddev.site
# When pointing at any other Drupal site: set accordingly.
NEXT_PUBLIC_DRUPAL_BASE_URL=https://next-canvas-dev.ddev.site

# The Canvas CLI uses this to know where to push components.
# Usually the same as NEXT_PUBLIC_DRUPAL_BASE_URL.
CANVAS_SITE_URL=https://next-canvas-dev.ddev.site
